# Essential packages
anndata>=0.10.0
biopython>=1.79
fastcluster
hydra-core
leidenalg
lightning
igraph
leidenalg
lightning
multiqc
networkx>=3.2
numpy>=1.22.0,<2
omegaconf
pandas>=1.4.2
pod5>=0.1.21
pomegranate>=1.0.0
pyfaidx>=0.8.0
pysam>=0.19.1
scanpy>=1.9
scikit-learn>=1.0.2
scipy>=1.7.3
seaborn>=0.11
torch>=1.9.0
tqdm
wandb
